@import "../../styles/colors";

.container{
    min-width: 100vw;
    min-height: 100vh;
    .item-container{
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 30px;
    }
}

.light{
    background-color: $background;
}
.dark{
    background-color: $background-dark;

}