@import "../../styles/colors";

.container {
    height: auto;
    max-height: 75px;
    display: flex;
    padding: 10px 20px;

    .content {
        display: flex;
        overflow: scroll;
        max-width: 25%;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
        img {
            height: 50px;
            width: 50px;
            object-fit: cover;
            border-radius: 50%;
        }

        div {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 0 15px;
            h2 {
                color: $main-color;
                font-size: 1.3rem;
            }
            h4 {
                font-size: 0.9rem;
            }
        }
    }

    .description {
        margin: 0 15px;
        overflow: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
        p {
            font-size: 0.9rem;
            font-weight: 500;
        }
    }
    .icons {
        margin-left: auto;
        padding-right: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        .icon {
            cursor: pointer;
        }
    }
}

.light {
    background: #ffffff;
    border: solid 0.5px $border-soft;
    h4,
    p {
        color: $font-color;
    }
    .content {
        border-right: solid 0.5px $border-soft;
    }
}
.dark {
    background-color: $card-color-dark;
    border: solid 0.5px $border-soft-dark;
    h4,
    p {
        color: $font-color-dark;
    }
    .content {
        border-right: solid 0.5px $border-soft-dark;
    }
}
