$main-color: #f2994a;

$font-color: #333333;
$gray-font: #bebebe;
$background: #f9f9f9;
$background-soft: #fafafa;
$card-color: #ffffff;
$border: #949494;
$border-soft: #dbdbdb;

$font-color-dark: white;
$gray-font-dark: #555555;
$background-dark: #1f1f1f;
$background-soft-dark: #323232;
$card-color-dark: #252525;
$border-dark: #6a6a6a;
$border-soft-dark: #464646;
