$main-color: #f2994a;


$font-color: #333333;
$card-color: #ffffff;
$background: #f9f9f9;
$border: #aaaaaa;

$font-color-dark: #ffffff;
$card-color-dark: #2c2c2c;
$background-dark: #222222;
$border-dark: #555555;
